body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #000;

}

.box{
    display: flex;
    position: relative;
    justify-content: center;
    align-items:center;
    width: 400px;
    height: 400px;
    background-color: red;
}


.inputbox{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    width: 200px;
    height: 200px;
    box-shadow: 1px 1px 20px #000;

}

.inputbox::before{
    content: '';
    position: absolute;
    inset: -2px;
    background-color: aqua;

}

.inputbox::after{
    content: '';
    position: absolute;
    background-color: gray;
    inset: 2px;

}