main{
    background-color: green;
    width: 100%;
    height: 100vh;
    
    display: flex;
    flex-direction:column;

    justify-content:center;
    align-items: center;
}

body{
    margin : 0;
    padding:0;
}

#ttt{
    width: 100px;
    height: 200px;
    background-color:white;
}


body main #ttt{
    background-color: red;
}