body{
padding: 0;
margin: 0;
background-color: dimgray;
width: 100%;
height:100vh;
}
header{
width:100% ;
height: 159px;

}
#d_verde{
width: 100%;
height: 50px;
background-color:  #14b0ba; 
display:flex ;
flex-direction: row;
}
#d_branco{
width: 100%;
height: 108px;
background-color: white;
}
#esquerda{
    display:flex ;
    flex-direction: row;
    font-family:'Livvic', sans-serif;
    color: white;
    
}
#configicons{
display: flex;
flex-direction: row;
color: white;
height: 100%;
}
#direita{
height: 100%;
width: 100%;
display: flex;
flex-direction: row;
justify-content: end;
}
.inform{
    display:flex ;
    flex-direction: row;
}
#configicons .icons{
width: 100px;
height: 100%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
#configicons .icons img{
height: 100%;

}