header{
width: 100%;
height: 150px;
background-color: red;

}
main{
width: 100%;
height: 80vh;
background-color: black;
display: none;
}

footer{
width: 100%;
height: 150px;
background-color: purple;
display: none;

}
#opening{
width: 100%;
height: 100vh;
position: absolute;
background-color: white;

}
#opening #text{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
width: 100%;

}
#opening #text h1{
    font-size: 150px;
}
#opening #text h3{
    font-size: 40px;
    margin-left: -150px;
    margin-top: -40px;
}